.App {
  text-align: center;
}

.App-logo {
  width: 400px;
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  width: 100%;
  font-size:12px;
}

.App-link {
  color: #61dafb;
}
.App-footer{
  width: 100%;
  font-size: 20px;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
